* {
  border-style: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/*  Multiple areas  */

.buttons {
  display: inline-block;
  background: #ffffff;
  color:#418DA7;
  border: 4px solid #418DA7;
  padding: 5px;
  text-decoration: none;
  margin: 20px auto;
}

.center {
  text-align: center;
}

/*  Banner area  */

.banner-bg {
  background-color: #93DDE8;
  height: 40px;
}

.banner-image {
  width: 30px;
  margin: 5px 20px;
}

.banner-link-group {
  float: right;
  margin: 10px 15px;
}

.banner-link-style {
  color: #ffffff;
  margin: auto 10px;
  text-decoration: none;
}

/*  Feature area  */

.feature-bg {
  background: url("images/park.jpg");
  background-size: cover;
  height: 470px;
}

.feature-image {
  display: block;
  width: 275px;
  border-radius: 275px;
  margin: 20px auto 0;
  border: 3px solid #418DA7;
}

.feature-title {
  margin-top: 0;
  padding-top: 40px;
  font-weight: bolder;
}

/*  Column area  */

.column-article {
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  min-width: 185px;
  max-width: 329px;
  margin: 40px 5px 15px;
  font-weight: 500;
}

.column-image {
  width: 185px;
  border-radius: 185px;
  border: 3px solid #418DA7;
  margin: 20px auto;
}

.col-space {
  margin-top: 39px;
}

/*  Footer area  */

.footer {
  background-color: #418DA7;
  color: #ffffff;
  padding: 15px 20px;
  margin: 0 auto;
}

.footer-icons {
  width: 40px;
  margin: 35px 25px;
}

.git-link {
  display: block;
  color: #ffffff;
  font-weight: bolder;
}
